*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #003973;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #E5E5BE, #003973);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #E5E5BE, #05294e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}

.container{
    /* From https://css.glass */
text-align: center;
background: rgba(255, 255, 255, 0.067);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4.4px);
-webkit-backdrop-filter: blur(4.4px);
border: 1px solid rgba(255, 255, 255, 0.158);
padding: 10px 30px;
}

h1{
    font-size: 50px;
}

.reloj{
    font-size: 32px;
}

h2{
    font-size: 39px;
    font-family: 'Poppins', sans-serif;
}

p{
    position: absolute;
    bottom: 50px;
}

span{
    position: absolute;
    font-size: 75px;
    color: rgba(255, 255, 255, 0.54);
    transform: rotate(-30deg);
    font-family: Caprasimo;
}